.base {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  border-radius: 0.8rem;
  transition: all 0.3s;
}

.primary {
  color: var(--color-light--1);
  background: var(--color-tomato--2);
  padding: 1.8rem 6.4rem;
}

.order_menu {
  color: var(--color-light--1);
  background: var(--color-tomato--2);
  padding: 1.2rem 1.6rem;
}

.order_menu:before {
  content: "Add to cart";
}

.order_cart,
.order_form {
  color: var(--color-light--1);
  background: var(--color-tomato--2);
  padding: 1.2rem 6.4rem;
}

.delete {
  color: var(--color-tomato--2);
  background: transparent;
  outline: 1px solid var(--color-tomato--2);
  padding: 1.2rem 1.6rem;
}

.clear {
  color: var(--color-grey--3);
  background: var(--color-grey--6);
  padding: 1.2rem 1.6rem;
}

.quantity {
  height: 2.4rem;
  width: 2.4rem;
  background: transparent;
}

.primary:hover,
.order_menu:hover,
.order_cart:hover,
.order_form:hover {
  background: var(--color-tomato--1);
}

.delete:hover {
  color: var(--color-tomato--1);
  outline: 1px solid var(--color-tomato--1);
}

.clear:hover {
  background: var(--color-grey--5);
}

/* <1200px */
@media (max-width: 75em) {
  .primary {
    padding: 1.4rem 4.8rem;
    margin-bottom: 10rem;
  }
}

/* <900px */
@media (max-width: 56.25em) {
  .base {
    font-size: 1.6rem;
  }
  .order_menu,
  .delete {
    padding: 1rem 1.4rem;
  }
  .order_cart,
  .order_form {
    padding: 1.2rem 4.8rem;
  }
}

/* <600px */
@media (max-width: 37.5em) {
  .primary {
    margin-bottom: 0;
  }
  .order_menu,
  .delete,
  .clear {
    font-size: 1.4rem;
    padding: 0.8rem 1.2rem;
  }
  .order_menu:before {
    content: "Add";
  }
  .order_cart,
  .order_form {
    font-size: 1.4rem;
  }
  .cart_delete {
    display: none;
  }
}
